body {
  font-family: Arial, sans-serif;
  background-color: #857770;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#quiz-container {
  width: 40%;
  background-color: #ece451;
  padding: 38px;
  text-align: center;
  border-radius: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #333;
  margin-bottom: 20px;
  border: 2px solid darkcyan;
  color: white;
  background-color: #e746e7;
  border-radius: 40px;
}

#question-container {
  margin-bottom: 20px;
}

#question {
  font-size: 24px;
}

#options {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightgreen;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease; /* Added transition property */
}

.option-button:hover {
  background-color: #e746e7; /* Hover background color */
  color: white;
}

.option-button span {
  margin-right: 10px;
}

#submit-btn,
#next-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#submit-btn[disabled],
#next-btn[disabled] {
  background-color: #4caf50;
  cursor: not-allowed;
}

#submit-btn:hover,
#next-btn:hover {
  transition: background-color 0.3s ease;
  background-color: #ffffab;
  color: black;
}

#progress {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  background-color: lawngreen;
  border-radius: 40px;
}

#timer {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid black;
  color: white;
  background-color: #ff5583;
  border-radius: 40px;
}
.scoretext {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  background-color: coral;
  border-radius: 40px;
}

.questions {
  border: 2px solid lightblue;
  padding: 5px;
  background-color: #f3eae8;
  color: black;
  font-weight: bold;
  border-radius: 40px;
}

@keyframes wireframeAnimation {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

button.wireframe {
  animation: wireframeAnimation 0.5s infinite;
}

.bgcolor {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease; /* Added transition property */
}

.bgcolor span {
  margin-right: 10px;
}
